### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [59]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset, left join
merged_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#  DS = Disrict Summary
#  SS = School Summary

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [60]:
# Calculate the total number of schools in the school_data_complete DataFrame
DS_school_count = len(merged_df["school_name"].unique())

# Calculate the total number of students
DS_student_count = merged_df["Student ID"].count()

# Calculate the total budget
DS_total_budget = school_data["budget"].sum()

# Calculate the average math score
DS_average_math_score = merged_df["math_score"].mean()

# Calculate the average reading score
DS_average_reading_score = merged_df["reading_score"].mean()

# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
DS_overall_passing_rate = ((DS_average_math_score + DS_average_reading_score)/2)

# Calculate the percentage of students with a passing math score (70 or greater)
DS_pass_math_score_students = merged_df[merged_df["math_score"] >= 70].groupby("Student ID")["math_score"].count()
DS_pass_math_score_count = DS_pass_math_score_students.count()
DS_pass_math_score = ((DS_pass_math_score_count / DS_student_count)*100)
    
# Calculate the percentage of students with a passing reading score (70 or greater)
DS_pass_reading_score_students = merged_df[merged_df["reading_score"] >= 70].groupby("Student ID")["reading_score"].count()
DS_pass_reading_score_count = DS_pass_reading_score_students.count()
DS_pass_reading_score = ((DS_pass_reading_score_count / DS_student_count)*100)

# Place all of the data found into a District Summary DataFrame
DS_table = pd.DataFrame({"Total Schools" : [DS_school_count],
                                       "Total Students" : DS_student_count,
                                       "Total Budget" : DS_total_budget,
                                       "Average Math Score" : DS_average_math_score,
                                       "Average Reading Score" : DS_average_reading_score,
                                       "% Passing Math" : DS_pass_math_score,
                                       "% Passing Reading" : DS_pass_reading_score,
                                       "Overall Passing Rate" : DS_overall_passing_rate
                                      })

DS_format_dict = ({'Total Schools':'{0:,.0f}',
                'Total Students':'{0:,.0f}',
                'Total Budget':'${0:,.0f}',
                'Average Math Score':'{0:,.2f}',
                'Average Reading Score':'{0:,.2f}',
                '% Passing Math' : '{:,.2f}%',
                '% Passing Reading' : '{:,.2f}%',
                'Overall Passing Rate' : '{:,.2f}%',
               })
DS_table.style.format(DS_format_dict).hide_index()

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [74]:
# Using GroupBy in order to separate the data into fields according to "school_name" values
grouped_school_name_df = merged_df.set_index('school_name').groupby(['school_name'])

# Set school types
SS_school_types = school_data.set_index('school_name')['type']

# Total Number of Students per School
SS_students_per_school = school_data.set_index('school_name')['size']

# Total School Budget
SS_total_school_budget = school_data.set_index('school_name')['budget']

# Per Student Budget
SS_per_student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

# Average Math Score
SS_avg_math_score = grouped_school_name_df["math_score"].mean()

# Average Reading Score
SS_avg_reading_score = grouped_school_name_df["reading_score"].mean()

# % Passing Math
SS_pass_math = (merged_df[merged_df["math_score"] >= 70].groupby("school_name")["Student ID"].count() / SS_students_per_school)*100
    
# % Passing Reading
SS_pass_reading = (merged_df[merged_df["reading_score"] >= 70].groupby("school_name")["Student ID"].count() / SS_students_per_school)*100

# Overall Passing Rate (Average of the above two)
SS_overall_pass = ((SS_pass_math + SS_pass_reading)/2)

# Place all of the data found into a School Summary DataFrame
SS_table = pd.DataFrame({
    "School Type": SS_school_types,
    "Total Students" : SS_students_per_school,
    "Total School Budget" : SS_total_school_budget,
    "Per Student Budget" : SS_per_student_budget,
    "Average Math Score" : SS_avg_math_score,
    "Average Reading Score" : SS_avg_reading_score,
    "% Passing Math" : SS_pass_math,
    "% Passing Reading" : SS_pass_reading,
    "Overall Passing Rate" : SS_overall_pass
})

SS_table.index.name = "School"

# Format                    
SS_table.style.format({'Total Students':'{0:,.0f}',
                       'Total School Budget':'${0:,.0f}',
                       'Per Student Budget':'${0:,.0f}',
                       'Average Math Score':'{0:,.2f}',
                       'Average Reading Score':'{0:,.2f}',
                       '% Passing Math' : '{:,.2f}%',
                       '% Passing Reading' : '{:,.2f}%',
                       'Overall Passing Rate' : '{:,.2f}%'
                      })

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [73]:
# Top 5 Performing Schools by Passing Rate
top_5_schools = SS_table.sort_values("Overall Passing Rate", ascending = False).head(5)

top_5_schools.index.name = "School"

# Format                    
top_5_schools.style.format({'Total Students':'{0:,.0f}',
                       'Total School Budget':'${0:,.0f}',
                       'Per Student Budget':'${0:,.0f}',
                       'Average Math Score':'{0:,.2f}',
                       'Average Reading Score':'{0:,.2f}',
                       '% Passing Math' : '{:,.2f}%',
                       '% Passing Reading' : '{:,.2f}%',
                       'Overall Passing Rate' : '{:,.2f}%'
                      })

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [70]:
# Sorting the DataFrame based on "SS_overall_pass_rate" column
# Will sort from lowest to highest and return 5 worst-performing schools
bottom_5_schools = SS_table.sort_values("Overall Passing Rate", ascending = True).head(5)

bottom_5_schools.index.name = "School"

# Format                    
bottom_5_schools.style.format({'Total Students':'{0:,.0f}',
                       'Total School Budget':'${0:,.0f}',
                       'Per Student Budget':'${0:,.0f}',
                       'Average Math Score':'{0:,.2f}',
                       'Average Reading Score':'{0:,.2f}',
                       '% Passing Math' : '{:,.2f}%',
                       '% Passing Reading' : '{:,.2f}%',
                       'Overall Passing Rate' : '{:,.2f}%'
                      })

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [72]:
# Create a table that lists the average Math Score for students of each grade level
# (9th, 10th, 11th, 12th) at each school 
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores_by_grade = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]
math_scores_by_grade.index.name = "School"

# Show and format
math_scores_by_grade.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [65]:
# Create a table that lists the average Reading Score for students of each grade level
# (9th, 10th, 11th, 12th) at each school 
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]
reading_scores_by_grade.index.name = "School"

# Show and format
reading_scores_by_grade.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [66]:
# Create spending Bins
spending_bins = [0, 579.9999 , 599.9999, 619.9999, 639.9999, 999]
group_names = ["<$580", "$580-599", "$600-619", "$620-639", "> 640"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], spending_bins, labels = group_names)

# Group by spending
by_spending = merged_df.groupby('spending_bins')

# Calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = ((pass_math+pass_read)/2)

# Build Scores by School Spending DataFrame            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_names)

# Formating
scores_by_spend.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              'Overall Passing Rate': '{:.2%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [67]:
# Create bins based on school size
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1,000)", "Medium (1,000-2,000)", "Large (2,000-5,000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], size_bins, labels = group_names)

# Group by size
by_size = merged_df.groupby('size_bins')

# Perform Calculations
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = ((pass_math+pass_read)/2)
            
# Build DataFrame
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_names)

# Format
scores_by_size.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              'Overall Passing Rate': '{:.2%}'})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [68]:
# group by type of school
scores_by_school_type = merged_df.groupby("type")

#calculations 
avg_math = scores_by_school_type['math_score'].mean()
avg_read = scores_by_school_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/scores_by_school_type['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/scores_by_school_type['Student ID'].count()
overall = ((pass_math + pass_read)/2)

# df build            
scores_by_school_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})

scores_by_school_type.index.name = "Type of School"

# Format
scores_by_school_type.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2%}', 
                              '% Passing Reading':'{:.2%}', 
                              'Overall Passing Rate': '{:.2%}'})

Conclusions:

1) By all five metrics measured, Charter Schools have higher scores and passing rates than District Schools.
2) There is a large drop in performance once a school has 2,000 students. The overall passing rate for both small school (under 1,000 students) and medium schools (between 1,000 to 2,000 students) is above 95% while the overall passing rate for large schools (over 2,000 students) is just over 75%.
3) The overall passing rate is above 95% for schools that spend under $620 per student, while the overall pass rate is under 80% for schools that spend over $620 per student.
4) The top five performing schools were all Charter Schools while the bottom fiver performing schools were all District Schools.